  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-device-width: 800px) {
    .column {
      flex: 75%;
      max-width: 100%;
    }
  }
  
 
  @media screen and (max-device-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }